*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --background: rgba(243, 243, 243, 1);
  --background-light: rgba(249, 249, 249, 1);
  --brdg_blue: rgba(47, 128, 237, 1);
  --fonts: rgba(51, 51, 51, 1);
  --fonts-light: rgba(130, 130, 130, 1);
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  color: var(--fonts);
}

.container {
  display: grid;
  grid-template-areas:"header"
                "main"
                "why"
                "blog"
                "about";
  grid-template-columns: 1fr;
  grid-template-rows: 12vh repeat(4, 88vh);
  height: 100%;
}

/* Global Styling */
h1 {
  font-size: 2rem;
  color: var(--fonts);
}

h3 {
  font-size: 1.1rem;
  color: var(--fonts-light);
}

.section h1 {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: var(--brdg_blue);
  font-size: 1.5rem;
}

.email, .button {
  border-radius: 0.25rem;
  border: none;
  align-items: baseline;
}

.email {
  text-indent: 1rem;
}

.button {
  background-color: var(--brdg_blue);
  color: white;
  font-weight: 500;
  text-align: center;
}


/* Header Styling */

.header {
  grid-area: header;
  background: var(--background);
  display: grid;
  grid-template-columns: 10vw 4.5fr 5.5fr 10vw;
  grid-template-rows: 1fr;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  z-index: 999;
}

.header .logo {
  grid-column: 2 / span 1;
}

.header .nav {
  grid-column: 1 / span 4;
  text-align: right;
  width: 100%;
  height: auto;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--background-light);
}

.header .nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  list-style: none;
  margin: 0 10vw 0 0;
}

.header .nav ul li a {
  text-decoration: none;
  color: var(--fonts);
  line-height: 1.75em;
}

.nav-toggle-label {
  position: absolute;
  top: 0rem;
  right: 0;
  margin-right: 10vw;
  height: 100%;
  display: grid;
  align-items: center;
  padding: 4vh 0;
  cursor: pointer;
}

.hamburger{
  display: block;
  width: 20px;
  height: 2px;
  position: relative;
  background-color: var(--fonts);
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--fonts);
  transition: 150ms;
}

.hamburger::before {
  top: -6px;
}

.hamburger::after {
  top: 6px;
}

.active {
  background: rgba(0,0,0,0);
}

.active::before {
  top: 0;
  transform: rotate(45deg);
}

.active::after {
  top: 0;
  transform: rotate(-45deg);
}




/* Main styling */

.main {
  grid-area: main;
  background-color: var(--background);
  display: grid;
  grid-template-rows: 15vh repeat(2, 2fr) repeat(2, 1fr) 20vh;
  grid-template-columns: 10vw 1fr 10vw;
  height: 100%;
  grid-row-gap: 1rem;
}

.main h1 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: center;
  margin: 0 0;
}

.main h3 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  align-self: center;
  margin: 0 0;
}

.main form {
  grid-row: 4 / span 2;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-rows: repeat(2, 5vh);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1em;
  align-self: center;
}

.main form .email {
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
}

.main form .button {
  grid-row: 2 / span 1;
  grid-column: 1 / span 4;
}





/* Why styling */

.why {
  grid-area: why;
  background-color: var(--background-light);
  display: grid;
  grid-template-columns: 10vw 7.5vw 1fr 7.5vw 10vw;
  grid-template-rows: 5vh 1fr 5fr 1fr 5vh;
  text-align: center;
}

.why h1 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.carousel-button img {
  transform: scale(.5,.75);
  padding: 0 0;
  background: transparent;
}

.why button {
  outline: none;
}

.carousel-button--left, .carousel-button--right {
  border: none;
  background: transparent;
}

.carousel-button--left {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
}

.carousel-button--right {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
}

.carousel-track-container {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  position: relative;
  overflow: hidden;
  display: grid;
  height: 100%;
  width: 100%;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 600ms ease-in-out;
  display: grid;
}

.carousel-slide {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr 1fr;
  align-items: center;
}

.carousel-slide .carousel-image {
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  grid-column: 1 / span 1;
  grid-rows: 1 / span 1;
}

.carousel-slide h2 {
  grid-column: 1 / span 1;
  grid-rows: 2 / span 1;
}

.carousel-slide p {
  grid-column: 1 / span 1;
  grid-rows: 3 / span 1;
  margin: 0;
}

.carousel-nav {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicator {
  border: 0;
  border-radius: 15%;
  width: 1.5rem;
  height: 0.25rem;
  background: rgba(0,0,0,.3);
  justify-content: center;
  margin: 0 0.5rem;
  padding: 0;
}

.carousel-indicator:hover {
  cursor: pointer;
}

.current-indicator {
  background: var(--brdg_blue);
  opacity: 0.75;
}

.is-hidden {
  display: none;
}




/* Blog styling */

.blog {
  grid-area: blog;
  background-color: var(--background);
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 5vh 1fr 5fr 1fr 5vh;
  text-align: center;
  align-items: center;
}

.blog h1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.blog figure {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  align-items: center;
}

.blog figure img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  width: 100%;
  margin: 0 auto;
}

.blog figure figcaption {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.blog p {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}




/* About styling */

.about {
  grid-area: about;
  background-color: var(--background-light);
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 5vh repeat(5, 1fr) 10vh;
  align-items: center;
  text-align: center;
}

.about h1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.about p {
  font-weight: lighter;
  font-size: 0.85em;
}


.about .about-1 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.about img {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  width: 100%;
  margin: 0 auto;
}

.about .about-2 {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

.about form {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  display: grid;
  grid-template-rows: repeat(2, 5vh);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1em;
  align-self: center;
}

.about form .email {
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
}

.about form .button {
  grid-row: 2 / span 1;
  grid-column: 1 / span 4;
}

@media screen and (min-width: 550px) {

  .email, .button {
    font-size: 1em;
  }

  .about p {
    font-size: 1em;
  }
}

@media screen and (min-width: 650px) {

  h1 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }

  .section h1 {
    font-size: 2em;
  }

  .blog figure img, .about img {
    width: 75%;
  }




}

@media screen and (min-width:770px) {

  .container {
    grid-template-columns: 10vw 4.5fr 5.5fr 10vw;
    grid-template-rows: 12vh 1fr;
    height: 100%;
  }

  .header {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
  }

  .main {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .active-section {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    background: white;
  }

  .hidden {
    display: none;
  }

  .nav-toggle-label {
    display: none;
  }

  .header .logo {
    grid-column: 2 / span 1;
  }

  .header .nav {
    grid-column: 3 / span 2;
    background-color: white;
    top: 0;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .nav ul {
    display: flex;
    height: 100%;
  }

  .nav li:nth-last-child(n+2) {
    margin-right: 6vw;
  }

  .nav a {
    position: relative;
  }

  .nav a::before {
    content: '';
    display: block;
    height: 0.25rem;
    background: var(--brdg_blue);
    position: absolute;
    bottom: -0.5em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  .nav a:hover::before {
    transform: scale(1,1);
  }


  .why button {
    border: none;
  }
}
